# Adicione aqui as variáveis de ambiente usadas pela aplicação e descreva suas finalidades.
# Os valores reais devem ser armazenados em um arquivo .env ou .env.*.
# As variáveis também devem ser adicionadas em /src/config/environment.ts.

NODE_ENV="development"
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/database"
