# aqui vc coloca as variáveis que o código usa e o que elas significam
# as variaveis de verdade devem ficar em um .env ou .env.*
# as variáveis devem ser adicionadas em /src/config/env.ts

NODE_ENV="development"
PORT=3000
DATABASE_URL="postgresql://usuario:senha@localhost:5432/banco"